# Ignorer alt uden for projektmappen
/*

# Tillad kun specifikke filer i projektet
!.gitignore

# Ignorer systemfiler og skjulte filer
.DS_Store
.Trash/
.CFUserTextEncoding
.bash_history
.zsh_history
.zsh_sessions
.gitconfig
.ssh/
.npm/
.nvm/
.rest-client/
.codeium/
.vscode/

# Ignorer brugermapper
Applications/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
# Ignorer alt uden for projektmappen
/*

# Undtag specifikke filer i projektet
!.gitignore
!.DS_Store

# Ignorer systemfiler og skjulte filer
.DS_Store
.Trash/
.CFUserTextEncoding
.bash_history
.zsh_history
.zsh_sessions
.gitconfig
.ssh/
.npm/
.nvm/
.rest-client/
.codeium/
.vscode/

# Ignorer brugermapper
Applications/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

